/* COLOR */

$primary-blue: #1A129F;
$secondary-blue: #6156F9;
$third-blue: #7E76F9;
$opa-blue: rgba(126, 118, 249, 0.15);
$white: white;
$grey: #42495B;
$color-form: #f6f7fb;

/* SHADOW */

$shadow-mouse: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
$shadow-offer: 0 10px 20px 0 rgba(126, 118, 249, 0.1);

/* FONT */

$font-main: "Poppins";
$font-secondary: "Lato";

$font-h1: 3.4rem;
$font-h2: 2.8rem;
$font-h3: 2.1rem;
$font-h5: 1.6rem;
$font-p: 0.95rem;
$font-offre: 0.875rem;
$font-price: 1.875rem;
$font-form: 0.75rem;

$weight-h5: 300;
$weight-h3: 500;

/* WIDTH */

$tel: 600px;
$palier-footer: 900px;
$palier-header: 1300px;
$palier-header-disparition: 700px;
$palier-intro: 1260px;
$palier-presentation: 1322px;
